@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/learning.css" rel="stylesheet" />
    <script src="~/lib/@@microsoft/teams-js/dist/MicrosoftTeams.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/home.js"></script>
    <script>
        let accessToken;
        let idToken;
        function enableLogin() {
            $("#login").show();
            $("#loading").hide();
            $("#content").hide();
            $("#error").hide();
        }

        function hideProfileAndError() {
            $("#loading").hide();
            $("#content").hide();
            $("#error").hide();
        }

        function successfulLogin() {
            $("#login").hide();
            $("#loading").show();
            microsoftTeams.getContext(function (context) {
                getShiftDetails(context.userObjectId);
                getTeamsConfiguration();
            });
        }

        $(document).ready(function () {
            microsoftTeams.initialize();
                enableLogin();
        });

        function getShiftDetails(objectId) {
            if (objectId) {
                let dateTimeNow = new Date().toISOString();
                let shiftFromDate = new Date();
                shiftFromDate.setDate(shiftFromDate.getDate() - 1);
                let graphShiftsUrl = "https://graph.microsoft.com/beta/teams/" + '@ViewBag.TeamId' + "/schedule/shifts?$filter=sharedShift/startDateTime ge " + shiftFromDate.toISOString();
                let counter = 0;
                let graphTemp = [];
                do {
                    $.ajax({
                        url: graphShiftsUrl,
                        type: "GET",
                        async: false,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", "Bearer " + accessToken);
                        },
                        success: function (response) {
                            if (response != null) {
                                graphShiftsUrl = response["@@odata.nextLink"];
                                graphTemp = graphTemp.concat(response.value);
                            } else {
                                console.log("Something went wrong");
                            }
                        },
                        error: function () {
                            console.log("Failed");
                        }
                    });
                }
                while (graphShiftsUrl)
                graphTemp.sort(sortFunction);
                let shift = graphTemp.find(s => (s.userId === objectId) && (s.sharedShift.startDateTime <= dateTimeNow && s.sharedShift.endDateTime >= dateTimeNow));
                if (shift) {
                    $('#loading').hide();
                    $('#content').show();
                }
                else {
                    $('#loading').hide();
                    $('#error').show();
                }
            }
        }

        function getTeamsConfiguration() {
            $.ajax({
                type: "GET",
                url: "/TeamsConfig",
                contentType: "application/json; charset=utf-8",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer " + idToken);
                },
                success: function (response) {
                    if (response != null) {
                        $('#chat').attr('onclick', "microsoftTeams.executeDeepLink('" + response.channelChatUrl + "');");
                        $('#portal').attr('onclick', "microsoftTeams.executeDeepLink('" + response.deepLinkBaseUrl + response.portalAppId + "/portal');");
                        $('#surveyapp').attr('onclick', "microsoftTeams.executeDeepLink('" + response.deepLinkBaseUrl + response.surveyAppId + "/surveys');");
                        $('#insightsapp').attr('onclick', "microsoftTeams.executeDeepLink('" + response.deepLinkBaseUrl + response.insightsAppId + "/5da00cfb-a533-41fc-bfd4-b4e31e7a2695');");
                        $('#trainingapp').attr('onclick', "microsoftTeams.executeDeepLink('" + response.deepLinkBaseUrl + response.trainingAppId + "/com.microsoft.sangam');");
                        $('#portalapp').attr('onclick', "microsoftTeams.executeDeepLink('" + response.deepLinkBaseUrl + response.portalAppId + "/portal');");
                        $('#stream').attr('src', response.trainingVideoUrl);
                    } else {
                        console.log("Something went wrong");
                    }
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }

        function sortFunction(a, b) {
            let dateA = new Date(a.sharedShift.startDateTime);
            let dateB = new Date(b.sharedShift.startDateTime);
            return dateA > dateB ? 1 : -1;
        };
    </script>
    <title>Learning</title>
</head>

<body>
    <button onclick="homeLogin()" id="login" style="display:none;">Login</button>
    <div id="loading" style="display:none"></div>
    <div id="content" style="display:none" class="container">
        <div class="banner-logo">
            <div class="new-logo-banner">
                <img src="~/images/logo2.svg" alt="logo" class="design-logo">
                <div class="design-logo-title">Contoso</div>
            </div>
        </div>
        <div class="quote-block">
            <img src="~/images/quote.svg" alt="quote" class="quote-img">
            <div class="quote-desc">
                At Contoso, we believe that every day is an opportunity for you to learn and
                grow.
                This investment in yourself is also
                an investment in the company and our customers! <br /> <br />
                Thank you for all you do!
            </div>
        </div>
        <div class="section3">
            <img src="~/images/section3.png" alt="team-img" class="team-img">
            <a href="~/Data/ContosoTown Shop Employee Handbook.docx" target="_blank" style="text-decoration:none; color:inherit;">
                <div class="head-blk">
                    <div class="headings" id="handBook">
                        Read the employee handbook
                    </div>
                    <div class="chev"></div>
                </div>
            </a>
            <div class="head-blk" id="chat">
                <div class="headings">
                    Connect with your coworkers
                </div>
                <div class="chev"></div>
            </div>
            <div class="head-blk" id="portal">
                <div class="headings">
                    Check out the employee portal
                </div>
                <div class="chev"></div>
            </div>
        </div>
        <div class="section4">
            <div class="video-head">CEO Company Meeting</div>
            <div class="video">
                <iframe class="vd-stream" frameBorder="0" id="stream">
                        </iframe>
            </div>
        </div>
        <div class="apps">
            <div class="row custom-row">
                <div class="app-card">
                    <div class="card4" id="portalapp">
                        <img class="card-img-top img-top app-img" src="~/images/Portal.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Portal</h4>
                            <p class="card-text designation app-desc">Your access to employee information.</p>
                        </div>
                    </div>
                </div>
                <div class="app-card" id="trainingapp">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Learning.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Training</h4>
                            <p class="card-text designation app-desc">Be the best employee you can be!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-row">
                <div class="app-card2">
                    <div class="card4" id="insightsapp">
                        <img class="card-img-top img-top app-img" src="~/images/Insights1.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Insights</h4>
                            <p class="card-text designation app-desc">Share what you have learned from customers.</p>
                        </div>
                    </div>
                </div>
                <div class="app-card2" id="surveyapp">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Survey.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Surveys</h4>
                            <p class="card-text designation app-desc">Let your voice be heard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-brand">
            <img src="~/images/Bottom Brand.svg" alt="Brand" class="brand-img">
        </div>
    </div>
    <div id="error" style="display:none" class="container error-bg">
        <div class="error-logo">
            <img src="~/images/ErrorLogo.svg" alt="logo" class="error-logo-ct">
        </div>
        <div class="error-red-dot">
            <img src="~/images/ErrorReddot.svg" alt="red-dot" class="error-dot-red">
        </div>
        <div class="error-offshift">
            <div class="error-off-head">You’re currently off shift</div>
            <p class="error-off-desc">
                You aren’t authorized to use Microsoft Teams during non-working hours and will only be
                compensated for using Teams during approved working hours.<br /><br />
                Please come back once you’re on the clock!
            </p>
        </div>
    </div>
    <div id="information" style="display:none"></div>
</body>
<script src="~/lib/popper.js/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</html>