@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/@@microsoft/teams-js/dist/MicrosoftTeams.min.js"></script>
    <script src="~/lib/markdown-it/dist/markdown-it.js"></script>
    <script src="~/lib/adaptivecards/dist/adaptivecards.js"></script>
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bluebird/bluebird.min.js"></script>
    <script type="text/javascript">
        let teamId = '@ViewBag.TeamId';
        let tasksAppId = '@ViewBag.TasksAppId';
        let tenantId = '@ViewBag.TenantId';
    </script>
    <script src="~/js/Index.js"></script>
    <script src="~/js/home.js"></script>
    <title>Sample Hub</title>
</head>
<body>
    <button onclick="homeLogin()" id="login" style="display:none;">Login</button>
    <div id="loading" style="display:none;"></div>
    <div class="container" id="content" style="display:none;">
        <div class="banner-logo">
            <div class="new-logo-banner">
                <img src="~/images/logo2.svg" alt="logo" class="design-logo">
                <div class="design-logo-title">Contoso</div>
            </div>
        </div>
        <div id="banner" class="wish-bg">
            <div class="main-heading">
                <span id="greet" class="greet"></span>
            </div>
            <div class="sub-heading">
                <span id="tasksCount" class="tasksCount"></span>
            </div>
            <div class="card pointer" id="shifts">
                <div>
                    <div class="date" id="shiftDate"></div>
                    <div class="day" id="shiftDay"></div>
                </div>
                <div class="line" id="line"></div>
                <div>
                    <div class="time" id="shiftHours"></div>
                </div>
                <div>
                    <div class="msg" id="shiftName"></div>
                </div>
            </div>
        </div>
        <div class="card cd2" id="tasks">
            <div id="task1">
                <div class="custom-control custom-radio cs-radio">
                    <input type="radio" id="1" name="1" class="custom-control-input" disabled>
                    <label class="custom-control-label lb lb1" for="1"><span class="lb-flow" id="taskSubject0"></span></label>
                </div>
                <span class="cd2-time" id="taskDueDate0"></span>
            </div>
            <div id="task2">
                <div class="custom-control custom-radio cs-radio1">
                    <input type="radio" id="2" name="2" class="custom-control-input" disabled>
                    <label class="custom-control-label lb lb2" for="2">
                        <span class="lb-flow" id="taskSubject1">
                        </span>
                    </label>
                </div>
                <span class="cd2-time time2" id="taskDueDate1"></span>
            </div>
            <div id="task3">
                <div class="custom-control custom-radio cs-radio1" disabled>
                    <input type="radio" id="3" name="3" class="custom-control-input" disabled>
                    <label class="custom-control-label lb lb3" for="3">
                        <span class="lb-flow" id="taskSubject2"></span>
                    </label>
                </div>
                <span class="cd2-time time2" id="taskDueDate2"></span>
            </div>
            <div class="see-more pointer" style="display:none" id="seemoretasks">See more Tasks</div>
        </div>
        <div class="feedback pointer" id="survey">
            <img src="~/images/How you feeling 2.svg" alt="how are feeling" class="hw-are-u-feeling" />
        </div>
        <div class="percentages pointer" id="report">
            <div class="ht">
                <div class="percen-head">ContosoTown Shop 246</div>
                <div class="see-more2">See more</div>
            </div>
            <div class="centage-block">
                <div class="row custom-row vertical rounded">
                    <div class="pro-card">
                        <span class="percentage-head">Store Sales</span>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill bg-red">
                                    <span class="pr-percentage">59%</span>
                                </div>
                                <!-- <span class="data-num">-2</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="pro-card">
                        <span class="percentage-head">Cust Sat</span>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill bg-gray">
                                    <span class="pr-percentage">60%</span>
                                </div>
                                <!-- <span class="data-num">+1</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="pro-card">
                        <span class="percentage-head">My Sales</span>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill bg-gray">
                                    <span class="pr-percentage">75%</span>
                                </div>
                                <!-- <span class="data-num">+4</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="announcement">
            <div class="an-head">Announcements</div>
            <div class="ann-img pointer" id="annoucement">
            </div>
        </div>
        <div class="working">
            <div class="working-head">Working Now</div>
            <div class="start-cht pointer" id="groupChat">Start chat</div>
            <div class="working-img">
                <div class="avatars">
                    <span class="ava">
                        <img id="memberPicture0" class="avatar" alt-name="img">
                        <span id="memberName0" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture1" class="avatar" alt-name="img">
                        <span id="memberName1" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture2" class="avatar" alt-name="img">
                        <span id="memberName2" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture3" class="avatar" alt-name="img">
                        <span id="memberName3" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture4" class="avatar" alt-name="img">
                        <span id="memberName4" class="name"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="new-team">New Team Members</div>
        <div class="row custom-row">
            <div class="profile-card">
                <div class="card3">
                    <img class="card-img-top img-top" alt="Card image cap" width="400" id="newMemberPicture0">
                    <div class="card-body cb">
                        <h4 class="card-title ct mb-0" id="newMemberName0"></h4>
                        <p class="card-text designation" id="newMemberDesignation0"></p>
                    </div>
                    <a id="newMemberChat0" class="btn hi pointer">Say hi</a>
                </div>
            </div>
            <div class="profile-card">
                <div class="card3">
                    <img class="card-img-top img-top" alt="Card image cap" width="400" id="newMemberPicture1">
                    <div class="card-body cb">
                        <h4 class="card-title ct mb-0" id="newMemberName1"></h4>
                        <p class="card-text designation" id="newMemberDesignation1"></p>
                    </div>
                    <!-- <button class="btn br mr-2 align-self-center">Say hi</button> -->
                    <a id="newMemberChat1" class="btn hi pointer">Say hi</a>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="news-head">News</div>
            <div class="see-more3 pointer" id="news">See more</div>
            <div class="carousel3">
                <div id="news" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner car-card">
                        <div class="carousel-item active pointer" id="newsLink1">
                            <div class="car-head" id="newsTitle1">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" src="~/images/news1.jfif" alt="First slide">
                            <div class="car-desc" id="newsDescription1">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                        <div class="carousel-item pointer" id="newsLink2">
                            <div class="car-head" id="newsTitle2">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" src="~/images/news2.png" alt="Second slide">
                            <div class="car-desc" id="newsDescription2">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                        <div class="carousel-item pointer" id="newsLink3">
                            <div class="car-head" id="newsTitle3">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" src="~/images/news3.png" alt="Third slide">
                            <div class="car-desc" id="newsDescription3">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#news" data-slide-to="0" class="active"></li>
                        <li data-target="#news" data-slide-to="1"></li>
                        <li data-target="#news" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="apps">
            <div class="row custom-row">
                <div class="app-card">
                    <div class="card4 pointer" id="payStubs">
                        <img class="card-img-top img-top app-img" src="~/images/Paystub.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Paystubs</h4>
                            <p class="card-text designation app-desc">All your pay stubs organized here.</p>
                        </div>
                    </div>
                </div>
                <div class="app-card pointer" id="benefits">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Benefits.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Benefits</h4>
                            <p class="card-text designation app-desc">Access all your benefits.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-row">
                <div class="app-card2 pointer" id="rewards">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Rewards.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Rewards</h4>
                            <p class="card-text designation app-desc">Learn about special offers available to you.</p>
                        </div>
                    </div>
                </div>
                <div class="app-card2 pointer" id="kudos">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Kudos.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Kudos</h4>
                            <p class="card-text designation app-desc">Recognize your coworkers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-brand">
            <img src="~/images/Bottom Brand Home.svg" alt="Brand" class="brand-img">
        </div>
    </div>
</body>
<script src="~/lib/popper.js/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</html>