
@{
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/css/reward.css" rel="stylesheet" />
    <title>
        Reward App
    </title>
</head>

<body>
    <div class="container">
        <div class="rw-logo">
            <img src="../images/logo-rewards-lob.svg" alt="logo" class="rw-logo-ct">
            <span class="rw-head-title">Contoso</span>
        </div>
        <div class="reward-title">
            <img src="../images/rewards-lob.png" alt="reward-img" class="reward-img">
            <span class="reward-heading">Rewards</span>
        </div>
        <div class="cashback">Employee Rewards Cashback</div>
        <div class="cashback-amt">$74.32</div>
        <div class="offers">
            <div class="offer-title">
                Enjoy fantastic rewards as an employee.
            </div>
            <ul>
                <li>Get 10% discount on all our services.</li>
                <li>Get 15% discount on all our devices.</li>
                <li>Share these benefits with your household.</li>
                <li>Get an additional 2% on your birthday.</li>
            </ul>
        </div>

        <!-- <div class="discounts-apps">
            <div class="row custom-row">
                <div class="dis-app-card">
                    <div class="dis-card">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Employee Discounts</h4>
                            <p class="card-text designation app-desc">As an employee you enjoy great discounts at
                                company’s products and services.</p>
                        </div>
                    </div>
                </div>
                <div class="dis-app-card">
                    <div class="dis-card">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Partner Offers</h4>
                            <p class="card-text designation app-desc">Enjoy special offers our network partners made
                                available especially for us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="media card rw-card">
            <div class="media-body">
                <div class="card-body cb">
                    <h4 class="card-title ct mb-0 app-head">Employee Discounts</h4>
                    <p class="card-text designation app-desc">
                        As an employee you enjoy great discounts at
                        company’s products and services.
                    </p>
                </div>
            </div>
            <img class="align-self-center tag-img" src="../images/tag.png" alt="tag">
        </div>
        <div class="media card rw-card">
            <div class="media-body">
                <div class="card-body cb">
                    <h4 class="card-title ct mb-0 app-head">Partner Offers</h4>
                    <p class="card-text designation app-desc">
                        Enjoy special offers our network partners made
                        available especially for us.
                    </p>
                </div>
            </div>
            <img class="align-self-center offer-img" src="../images/offer.png" alt="offer">
        </div>
    </div>
</body>

</html>

