################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HOME App/Brandhome/Source/obj/Debug/netcoreapp3.1/BrandHome.RazorAssemblyInfo.cs
